@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Estilo del index y la página principal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}

.titulo {
    margin: 10px;
}

.parrafo {
    margin: 20px;
}

#contenido {
    min-height: 100vh;
    position: relative;
}

.promo {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.titulo2 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkslategray;

}

.opcion4 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(80%) translateY(-50%);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.opcion2 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(150%);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.opcion3 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-200%) translateY(-50%);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.opcion1 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-250%);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

/* Aca va el estilo de la sección 2 Team Sonic */


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px --22px black;
    z-index: 2;

}

.header-contenedor{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: blue;
}

.menu{
    height: 80px;

}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li:before{
    content: '';
    width: 100%;
    height: 4px;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: blue;
}


.contenedor-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../StH2929.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(38, 172, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.contenedor-info{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.contenedor-info h1{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.contenedor-info p{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

/* Acá empieza el estilado para los artículos */

.contenedor-contenido{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    
}

.articulo-sonic{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.articulo-sonic:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd;
}

.articulo-sonic h2{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

.articulo-sonic p{
    margin-top: 20px;
    font-size: 18px;
    color:  #3c3c3c;
}

.articulo-sonic img{
    width: 100%;
    margin-top: 20px;
}